<tr>
  <td>
    <a class="linkBoard"></a>
    <span class="indicatorSfw nonAutistic"></span>
    <i class="fa fa-puzzle-piece" title="Autistic"></i>
    <span class="indicatorInactive">
      <i class="fa fa-skull" title="Dead, you may claim this board"></i>
    </span>
  </td>
  <td>
    <span class="divDescription"></span>
  </td>
  <td>
    <span class="labelTags"></span>
  </td>

  <td>
    <span class="labelPostsPerHour cellComponent"></span>
  </td>
  <td>
    <span class="labelPostCount cellComponent"></span>
  </td>
  <td>
    <span class="labelUniqueIps cellComponent"></span>
  </td>
</tr>
