<span id="navLinkSpan" class="bracket-list">
  <a href="/"><i class="fa fa-home"></i> Home</a
  ><a href="/boards.js"><i class="fa fa-tags"></i> Boards</a
  ><a href="/ob/"><i class="fa fa-synagogue"></i> Overboard</a
  ><a href="/tism/"><i class="fa fa-puzzle-piece"></i> Autismboard</a
  ><a href="/.static/pages/posting.html"><i class="fa fa-question"></i> Help</a
  ><a href="/account.js"><i class="fa fa-key"></i> Account</a
  ></span>

<span id="navBoardsSpan" class="bracket-list"></span>
