
@keyframes webringbutton-rainbow {
  from, to { color: red; text-shadow-color: red }
  12.5% { color: orange; text-shadow-color: orange }
  25% { color: yellow; text-shadow-color: yellow }
  37.5% { color: lime; text-shadow-color: lime }
  50% { color: green; text-shadow-color: green }
  62.5% { color: #66f; text-shadow-color: blue }
  75% { color: #f6f; text-shadow-color: purple }
  87.5% { color: magenta; text-shadow-color: magenta }
}
.WebringButton {
  font-size: 120%;

  text-shadow: 0 0 5px;
  animation: webringbutton-rainbow 3s linear infinite;
}

.WebringWrapper {
  position: fixed;
  z-index: 1000000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.WebringWrapper--closing {
  pointer-events: none;
}

@keyframes webringwrappershade-fadein {
  from { opacity: 0 } to { opacity: 0.6 }
}
.WebringWrapper__shade {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.6;

  animation: webringwrappershade-fadein .3s ease;
}

@keyframes webringwrappershade-fadeout {
  from { opacity: 0.6 } to { opacity: 0 }
}
.WebringWrapper--closing .WebringWrapper__shade {
  opacity: 0;
  animation: webringwrappershade-fadeout .3s ease;
}

@keyframes webring-slidein {
  from { transform: translate(-50%, -50%) scale(1.3); opacity: 0 }
  to { translate(-50%, -50%) scale(1); opacity: 1 }
}
.Webring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;

  min-width: 90%;
  min-height: 500px;
  max-height: 95%;

  background-image: linear-gradient(to right bottom, #2e2f32, #1d1f21);
  color: white;

  animation: webring-slidein .3s cubic-bezier(.21,.75,0,1);
}

@keyframes webring-slideout {
  from { transform: translate(-50%, -50%) scale(1); opacity: 1 }
  to { translate(-50%, -50%) scale(1.3); opacity: 0 }
}
.WebringWrapper--closing .Webring {
  transform: translate(-50%, -50%) scale(1.3);
  opacity: 0;
  animation: webring-slideout .3s cubic-bezier(.21,.75,0,1);
}

.Webring__close {
  font-size: 3rem;
  position: absolute;
  z-index: 100;

  top: 2rem;
  right: 2rem;
  line-height: 0;

  cursor: pointer;
}

/* layout */

.Webring__inner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  display: grid;
  grid-template-columns: 3rem auto;
}

.WebringTabs {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.WebringTabs__button {
  width: 3rem;
  height: 3rem;
  position: relative;
  cursor: pointer;
}

.WebringTabs__button--selected {
  cursor: default;
}

.WebringTabs__button__strip {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  height: 3rem;

  white-space: nowrap;

  overflow: hidden;

  width: 3rem;
  background-color: #2e2f32;
  color: #CCC;
  box-shadow: none;
  transition: .25s ease;
  transition-property: width, background-color, color, box-shadow;
}

.WebringTabs__button__strip:hover {
  width: 12rem;
  background-color: #555;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.21), 0 4px 8px rgba(0, 0, 0, 0.3);
}

.WebringTabs__button--selected .WebringTabs__button__strip {
  background-color: #CCC;
  color: #2e2f32;
}

.WebringTabs__button__strip svg {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.75rem;
  box-sizing: content-box;
}

.WebringTabs__button__strip span {
  display: inline-block;
  height: 3rem;
  line-height: 3rem;
  vertical-align: top;
  padding: 0 1rem;
}

.WebringTabs__button--close {
  position: absolute;
  bottom: 0;
}

.WebringTabs__button--refresh {
  position: absolute;
  bottom: 3rem;
}

.WebringTabs__button--refresh span {
  font-size: 70%;
}

@keyframes refreshloading {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.WebringTabs__button--refresh-loading svg {
  animation: refreshloading 1s linear infinite;
}

.WebringStage {
  background-color: rgba(0, 0, 0, 0.3);
  overflow-y: auto;
}

.WebringTable {
  padding: 1rem;
  color: #CCC;
}

.WebringTable a {
  color: white;
  outline: none;
  text-shadow: none;
}

.WebringTable a:hover {
  color: #DDD;
  text-shadow: 0 0 4px;
}

.WebringTable a:active {
  color: #AAA;
}

.WebringTable__header {
  text-align: center;
  margin-top: 0;
}

.WebringTable table {
  width: 100%;
}

.WebringTable td {
  padding: 1px 3px;
}

.WebringTable__board--samesite td:nth-child(1) {
  background-color: #555;
}

.WebringTable__board td:nth-child(3),
.WebringTable__board td:nth-child(2)
{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 200px;
}

.WebringTable table tr:nth-child(2n) td {
  background-color: #333;
}

.WebringTable__board--samesite td:nth-child(1) {
  background-color: #555 !important;
  font-weight: bold;
}

.WebringTable__board--sameboard td {
  background-color: #555 !important;
  font-weight: bold;
}

.WebringTable__board__last-activity {
  text-align: center;
  color: white;
}

@media (max-width: 600px) {
  .Webring {
    max-width: 100%;
    width: 100%;
    height: 90%;
  }

  .WebringTable table th:nth-child(3),
  .WebringTable table th:nth-child(4),
  .WebringTable table th:nth-child(5),
  .WebringTable table th:nth-child(6),
  .WebringTable table td:nth-child(3),
  .WebringTable table td:nth-child(4),
  .WebringTable table td:nth-child(5),
  .WebringTable table td:nth-child(6) {
    display: none;
  }

  .WebringTable__board td:nth-child(2) {
    max-width: 120px;
  }
}

/* Webring boards on the boardlist */
.linkBoard[href^="http"] ~ .fa-puzzle-piece {
  display: none;
}

.linkBoard[href^="http"]::after {
  content: "WR";

  position: relative;

  display: inline-block;
  margin-left: 5px;
  padding: 3px 6px;
  border-radius: 5px;

  color: white;
  background-color: #00796B;

  font-size: 0.8rem;
  font-family: sans-serif;

  pointer-events: none;
}
